
  .loader {
    margin: auto;

    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .loader > span:nth-child(1) {
    width: 160px;
    height: 160px;
    background: #FFE5F1;
    animation: animate 0.5s linear infinite;
    border-radius: 3px;
  }

  .loader > span:nth-child(2) {
    width: 160px;
    height: 20px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 200px;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }

  @keyframes loader {
    0% {
      left: -100px;
    }
    100% {
      left: 110%;
    }
  }

  @keyframes animate {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow {
    50% {
      transform: scale(1.2, 1);
    }
  }



  
  .btn-pet-detail {
    padding: 8px 16px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    color: #fff;
  }

  .btn-pet-detail::after {
    content: '';
    background-color: #ff3e00;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .btn-pet-detail:hover::after {
    top: 0px;
    left: 0px;
  }

  